{% extends "CivisTrack_App/base1.html" %} 
{% block title %}CivisTrack - Services Publics en Côte d'Ivoire{% endblock %}
{% block content %}

<div class="bg-gray-100 bg-pattern min-h-screen" style="background-color: var(--bg-color); color: var(--text-color);" id="themeBody">
  
  <div class="container mx-auto mt-8 px-4">
    <section class="text-center mb-12">
      <h1 class="text-4xl font-bold mb-4 text-gray-800 text-white" data-translate="Sign">Connectez-vous à CivisTrack</h1>
      <p class="text-xl text-gray-600" data-translate="locateServices">Localisez facilement les services publics en Côte d'Ivoire</p>
      <div class="mt-8">
        <a href="{% url 'inscription' %}" class="btn-3d bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-4" data-translate="signup">S'inscrire</a>
        <a href="{% url 'connexion' %}" class="btn-3d bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-translate="login">Se connecter</a>
      </div>
    </section>
    
    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4" data-translate="nearbyServices">Services publics à proximité</h2>
      <div id="map-container" class="map-container">
        <div id="map" class="rounded-lg shadow-lg"></div>
      </div>
    </section>
    <section class="mb-6">
      <h2 class="text-2xl font-semibold mb-4" data-translate="serviceCategories">Catégories de services</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <button class="btn-3d bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-translate="health">
          Santé
        </button>
        <button class="btn-3d bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" data-translate="security">
          Sécurité
        </button>
        <button class="btn-3d bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" data-translate="education">
          Éducation
        </button>
        <button class="btn-3d bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded" data-translate="administration">
          Administration
        </button>
        <button class="btn-3d bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" data-translate="restaurants">
          Restaurants
        </button>
        <button class="btn-3d bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" data-translate="leisure">
          Loisirs
        </button>
        <button class="btn-3d bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded" style="background-color:#8f3b0a;" data-translate="shoppingCenters">
          Centres commerciaux
        </button>
        <button class="btn-3d bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded" style="background-color:#ff00aa;"  data-translate="hotels">
          Hôtels
        </button>
        <button class="btn-3d bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" style="background-color:#5b5b5b;" data-translate="banks">
          Banques
        </button>
      </div>
    </section>

   
  </div>

</div>

{% endblock %}