{% extends "CivisTrack_App/base2.html" %} 
{% block title %}CivisTrack - Services Publics en Côte d'Ivoire{% endblock %}
{% block content %}
 
<div class="bg-gray-100 bg-pattern min-h-screen" style="background-color: var(--bg-color); color: var(--text-color);" id="themeBody">
  

  <div class="container mx-auto mt-8 px-4">
    <h1 class="text-4xl font-extrabold mb-6 text-center md:text-left text-black-50 transition-all transform hover:scale-105">
        Services Publics
    </h1>

    <div class="mb-6">
        <input type="text" id="search-input" class="w-full p-3 border border-blue-400 rounded-lg focus:ring-4 focus:ring-blue-500 transition-all duration-300 ease-in-out transform hover:scale-105 shadow-md" placeholder="Rechercher un service...">
    </div>

    <div class="mb-6">
        <div id="category-buttons" class="flex flex-wrap justify-center md:justify-start space-x-4 space-y-4">
            <!-- Les boutons de catégories seront ajoutés ici dynamiquement -->
        </div>
    </div>

    <div id="services-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-blue-dark">
        <!-- Les services seront ajoutés ici dynamiquement -->
    </div>
  </div>

  <script id="services-data" type="application/json">
      {{ services_data|safe }}
  </script>
  <script id="categories-data" type="application/json">
      {{ categories_data|safe }}
  </script>

</div>
{% endblock %}
